/* NavBar.css */

.navbar {
  background-color: #004d99;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.nav-brand {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items li {
  margin-left: 20px;
}

.nav-items li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

.nav-items li a:hover {
  text-decoration: underline;
}
